<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlearn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".twoActivity">
            <intent-filter>
                <action android:name="hello" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.servicetest.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UseServiceActivity" />

        <service
            android:name="com.example.servicetest.MyIntentService2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LayoutTestActivity" />
        <activity android:name="com.example.Broadcast.BroadTestActivity" />

        <!--
            <receiver
            android:name="com.example.Broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        -->
        <activity android:name="com.example.fileIO.FileActivity">

        </activity>
        <activity android:name="com.example.fileIO.SharedPreferencesActivity" />
        <activity android:name="com.example.fileIO.SqliteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>